nav #gnav{
    width: 900px;
    padding: 20px 0;
    margin: 0 auto;
}
nav #gnav ul{
    font-size: 0;
    text-align: center;
}
nav #gnav ul li{
    display: inline-block;
    padding: 0 20px;
}
nav #gnav ul li a{
    font-size: 20px;
    color: #ffffff;
    padding-bottom: 2px;
    text-decoration: none;
    background: rgb(200,0,0)
}
nav #gnav ul li a.current{
    color: #aaa;
    border-bottom: 2px solid #aaa;
}
nav #gnav ul li a:hover{
    color: #aaa;
    border-bottom: 2px solid #aaa;
}